
.swiper-slide {
    overflow: hidden;
    position: relative;
}

.swiper-slide .slider {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.swiper-slide .th-sliderContent {
    width: 820px;
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding: 259px 140px 259px 0;
}

.swiper-slide .th-description:before {
    top: 0;
    content: '';
    z-index: -1;
    right: 67px;
    width: 9999px;
    height: 100%;
    position: absolute;
    transform: skewX(-15deg);
    background: #00ADEF;
    opacity: 0.7;
}

.swiper-slide h1 {
    color: #fff;
    font-size: 52px;
    font-weight: 600;
    margin: 0 0 30px;
    line-height: 35px;
}

.swiper-slide span {
    color: #2d3e50;
    display: block;
    font-size: 72px;
    font-weight: bold;
    line-height: 58px;
    padding: 30px 0 0;
}

.swiper-slide .th-description {
    width: 100%;
    float: left;
}

.swiper-slide p {
    margin: 0;
    letter-spacing: normal;
    line-height: 24px;
}

.swiper-slide .th-btnS {
    width: 100%;
    float: left;
}

.swiper-slide .th-btn {
    float: left;
    margin: 0 15px 0 0;
}

.swiper-slide .th-btn {
    color: #fff;
    padding: 0 50px;
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #fff;
    text-transform: uppercase;
    font: bold 15px/40px 'Open Sans', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.swiper-slide .th-btn:hover {
    color: #fff;
    background: #2d3e50;
    border-color: #2d3e50;
}