
.my-link {
    color: white;
}

.home {
    color: #00adef;
}

.my-link:hover {
    color: #00adef;
}

.my-navbar {
    position: relative;
}

.my-ul {
    top: 170%;
    left: 0;
    margin: 0;
    z-index: 5;
    width: 220px;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
    background: #2d3e50;
    position: absolute;
}

ul li {
    line-height: inherit;
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.my-navbar ul li {
    float: none;
    vertical-align: top;
    padding: 13px 15px;
}

ul li:hover {
    color: #00adef;
}
.my-navbar ul li{
    padding: 10px;
    display: block;
    line-height: inherit;
}
.home:hover ul {
    transform: translateY(-5px);
}
li {
    transform: none;
}