
.my-ul {
    list-style: none;
    top: 60px;
    left: 0;
    background: #2d3e50;
    width: 220px;
    padding: 20px 0;
    margin: 0;
    position: absolute;
    z-index: 2;
}

.my-navbar {
    position: relative;
    height: 30px;
    font-size: 14px;
}

.home {
    color: #00adef;;
}

.my-link {
    color: white;
}

.my-link:hover, ul {
    color: #00adef;
    transform: translateY(-5px);
}

.my-navbar ul li a {
    display: block;
    line-height: inherit;
    text-decoration: none;
    color: white;
}


.my-navbar ul li a:hover {
    color: #00adef;
}
ul:hover {
    transform: translateY(-10px);
}
