.font{
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
    color: #00ADEF;
}
.p{
    text-align: center;
    word-break:break-all;
}
.ml-2{
    color: black;
}
.span{
    color: #00ADEF;
}
svg {
    color: #00ADEF;
}
.list {
    width: 100%;
    float: left;
    padding: 46px 0;
    min-height: 556px;
    margin: 30px 0 -120px;
    background: #344659 url(https://www.desktopbackground.org/download/1680x1050/2012/05/05/385388_microsoft-windows-7-ball-wallpapers-and-images-wallpapers_1920x1200_h.jpg) no-repeat 50% 100%;
    background-size: 1000px 600px;
    background-position: center;
}
.ld{
    width: 400px;
    float: right;
    margin-right: 252px;
    position: relative;
    top: -321px;
}
li{
    color: aliceblue;
}